<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bilgeadam ödevine hoş geldiniz</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

 
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <img src="/assets/img/logo.png" alt="">
                <span>Web Tasarım Ltd.</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/Home">Anasayfa</a></li>
                    <li><a class="nav-link scrollto" href="/Departman/Index">Departman</a></li>
                    <li><a class="nav-link scrollto" href="/Personel/Index">Personel</a></li>
                    
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Personel yönetimi için en verimli yazılım</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">İnsan kaynakları konusunda yazılım geliştiren tecrübeli ve dinamik bir kitleyiz.</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="/Personel" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Haydi Başlayalım</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="/assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">

            <div class="container" data-aos="fade-up">
                <div class="row gx-0">

                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h3>Biz kimiz</h3>
                            <h2>Teknolojinin beyni İstanbul Teknokette kurulu startup bir frmayız..</h2>
                            <p>
                                Bugüne kadar çeşitli bakanlıklar, belediyeler, çok uluslu şirketler için yüzlerce proje geliştirdik. Sabancı holding için hazırladığımız son proje Altın Web ödülünü aldı.
                            </p>
                            <div class="text-center text-lg-start">
                                <a href="/Personel" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Örneğimizi incele</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <img src="/assets/img/about.jpg" class="img-fluid" alt="">
                    </div>

                </div>
            </div>

        </section><!-- End About Section -->
        <!-- ======= Values Section ======= -->
        <section id="values" class="values">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Değerlerimiz</h2>
                    <p>Sınırsız müşteri memnuniyeti olmazsa olmazımızdır.</p>
                </header>
                    
                <div class="row">

                    <div class="col-lg-4">
                        <div class="box" data-aos="fade-up" data-aos-delay="200">
                            <img src="/assets/img/values-1.png" class="img-fluid" alt="">
                            <h3>Takım çalışması</h3>
                            <p>Başarımızın ön şartıdır. Her durumda arkadaşlarımızın fikirlerine değer veriririz.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="fade-up" data-aos-delay="400">
                            <img src="/assets/img/values-2.png" class="img-fluid" alt="">
                            <h3>Müşteriyi dinlemek ve rehberlik etmek</h3>
                            <p>Müşterilerimizi can kulağı ile dinleriz. Onları teknolojinin onlara sağladığı fırsatlar konusunda bilgilendirmek de görevlerimiz arsındadır.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="fade-up" data-aos-delay="600">
                            <img src="/assets/img/values-3.png" class="img-fluid" alt="">
                            <h3>Satış sonrası destek.</h3>
                            <p>Satış yapıp kaçmayız. Satış sonrasında da müşterilerimiz destek vermek, bizi rakiplerimizden bir adım öne geçirir.</p>
                        </div>
                    </div>

                </div>

            </div>

        </section><!-- End Values Section -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Mutlu Müşteriler</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Projeler</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-headset" style="color: #15be56;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Destek saat</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-people" style="color: #bb0852;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Sıkı çalışan</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->
       
       
        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>S.S.S.</h2>
                    <p>Sıkça Sorulan Sorular</p>
                </header>

                <div class="row">
                    <div class="col-lg-6">
                        <!-- F.A.Q List 1-->
                        <div class="accordion accordion-flush" id="faqlist1">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                        Ürün fiyatından başka gizli ödemeler çıkar mı?
                                    </button>
                                </h2>
                                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        Hayır. tekliflerimiz toplu fiyattır. Gizli ödemler, masraflarla siniriniz bozulmaz. Başlangıçta ne dediysek o. Tabi siz tasarımı gördükten sonra daha fazla özellik eklemek istemezseniz.
                                    </div>
                                </div>
                            </div>

                           

                           

                        </div>
                    </div>

                    <div class="col-lg-6">

                        <!-- F.A.Q List 2-->
                        <div class="accordion accordion-flush" id="faqlist2">

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                                        Söz verdiğiniz tarihe yetişmezse? Kampanya gecikirse ürünler elimde kalır.
                                    </button>
                                </h2>
                                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        Önceliklerinizi anlıyoruz. Her durumda gerekirse mesai de yaparak söz verdiğimiz tarihe yetiştiririz.
                                    </div>
                                </div>
                            </div>

                            

                        </div>
                    </div>

                </div>

            </div>

        </section><!-- End F.A.Q Section -->
        
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Müşteri geri dönüşleri</h2>
                    <p>Bizim hakkımızda ne dediler</p>
                </header>

                <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Hizmet aldığımız en iyi firma diyebilirim. Bizimle çok iyi bir iletişimleri vardı. Çok iyi iş çıkardılar.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                    <h3>Güneş Güçlü</h3>
                                    <h4>Ceo &amp; Yönetici ortak</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Webde 1 numadırlar diyebilirim. Çok iyi bir iş çıkardılar. Artık başka firma ile çalışmak istemiyoruz.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                    <h3>Serap Zorlu</h3>
                                    <h4>Tasarımcı</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Nasıl bir firma anlatamam. Toplantılarımızda çok defa onlar bizi yönlendirdi. Bize yapmak istediğimizin çok öetsinde bir tasarrım sundular.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                    <h3>Şeyda Çoktemiz</h3>
                                    <h4>Firma Sahibi</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Eğer bir siteye ihtiyacınız varsa mutlaka bu firmaya gelmelisiniz. Bu firma, bir siteden alınabilecek ne fayda varsa size veriyor.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                    <h3>Çağdaş Maraşlı</h3>
                                    <h4>Serbest Çalışan</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- End Testimonials Section -->
        
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>İletişim</h2>
                    <p>Bizimle iletişime geçin</p>
                </header>

                <div class="row gy-4">

                    <div class="col-lg-12">

                        <div class="row gy-4">
                            <div class="col-md-3">
                                <div class="info-box">
                                    <i class="bi bi-geo-alt"></i>
                                    <h3>Adres</h3>
                                    <p>Ali paşa caddesi, No:3/7 Bostancı<br>İstanbul,  34022</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info-box">
                                    <i class="bi bi-telephone"></i>
                                    <h3>Telefon</h3>
                                    <p>+90 216 345 56 54<br>+90 543 412 56 55</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info-box">
                                    <i class="bi bi-envelope"></i>
                                    <h3>Eposta</h3>
                                    <p>info@webtasarim.com<br>musteri@webtasarim.com</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info-box">
                                    <i class="bi bi-clock"></i>
                                    <h3>Çalışma saatlerimiz</h3>
                                    <p>MPazartesi - Cuma<br>9:00 - 17:00</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    

                </div>

            </div>

        </section><!-- End Contact Section -->

    </main><!-- End #main -->
   

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/purecounter/purecounter.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>
